@model  HicadStockSystem.Core.Utilities.ReportVM
@using Microsoft.AspNetCore.Http;
@{
	ViewBag.Title = "OverwriteStockBookPdf";
}
@{
	Layout = null;
	

}
<!DOCTYPE html>
<html>
<body>
	 <h1 style="text-align:center" class="text-center display-4">@Model.StkSystems.CompanyName</h1>
	 <h3 style="text-align:center">@Model.StkSystems.CompanyAddress</h3>
	 <br />
	 <h3>Overwrite Stock Book: Produce On @DateTime.Now</h3>
	 <br />
	 <table border="2" cellpadding="1" cellspacing="0" width="100%">
		  <tr style="text-align:center">
			   <th>Item Code</th>
			   <th>Item Description</th>
			   <th>Quantity</th>
			   <th>Price</th>
			   <th>Value</th>
		  </tr>
			@foreach (var a in Model.MonthEndBookClosure)
			{
			  <tr style="text-align:center">
			   <td> @a.ItemCode </td>
			   <td> @a.ItemDesc </td>
			   <td> @a.CurrentQty</td>
			   <td> @Math.Round((decimal)(a.Price),2)</td>
			   <td> @Math.Round((decimal)(a.Value),2)</td>
			  </tr>
			}
			<tr>	
				<td><span><b>Total</b></span></td><td></td><td></td><td></td>
				<td style="text-align:center"><span><b>@Math.Round((decimal)Model.MonthEndBookClosure.ToList().Sum(x=>x.Value),2)</b></span></td>
			</tr>
	 </table>
</body>
</html>
