@using HicadStockSystem.Core.Utilities;
@using Microsoft.AspNetCore.Http;
@using HicadStockSystem.UI.Models;
@model  ReportVM
@{
	ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
	
}




<div class="row">
	 <div class="col-md-12 grid-margin">
		  <div class="card">
			   <div class="card-body">

					<h1 style="text-align:center" class="text-center display-4">@Model.StkSystems.CompanyName</h1>
					<h3 style="text-align:center">@Model.StkSystems.CompanyAddress</h3>
 
					<br />
					<h3 style="text-align:center">REPORTS</h3>
					<h4 style="text-align:center">Stock Ledger</h4>
					<br /><br />
					<a class="btn btn-primary" asp-controller="StockLedger" asp-action="PrintStockLedger">print</a>
					<div class="row">
						 <table class="table table-striped" style="text-align:center">
							  <tr  style="text-align:center">
							 
							  </tr>
						   @foreach (var b in Model.StockLedgers2)
							{
								<tr>
									<td><span><b>Item Code:</b></span> @b.ItemCode</td>
									<td></td>
									<td><span><b>Description:</b></span> @b.ItemDesc</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								    @*<td>Description: @b.ItemDesc</td>*@
								</tr>
								
								<tr>	
								   <th>Date</th>
								   <th>Trans Number</th>
								   <th>Trans Qty</th>
								   <th>Tran Price</th>
								   <th>Stock Qty</th>
								   <th>Stock Price</th>
								   <th>Value</th>
								</tr>

								@foreach (var a in Model.StockLedgers.Where(x=>x.ItemCode==b.ItemCode))
								{
								<tr style="text-align:center">
								   <td> @a.TransDate</td>
								   <td> @a.TransactionNo </td>
								   <td> @a.TransQty</td>
								    <td>@Math.Round((decimal) a.Price,2)</td>
								    <td>
										@Math.Round((decimal)a.StockQuantity,2)
									</td>
									<td>@Math.Round((decimal)a.StockPrice,2)</td>
								   <td>
										@Math.Round((decimal)a.Value,2)
									</td>
								  </tr>
							     }							
							     <tr>	
									<td><span><b>Closing Balance</b></span></td>
									<td></td>
									<td></td>
									<td></td>
									<td><span><b> @Math.Round((decimal)Model.StockLedgers.Where(x=>x.ItemCode==b.ItemCode).Select(x=>x.StockQuantity).LastOrDefault(),2)</b></span></td>
									<td><span><b> @Math.Round((decimal)Model.StockLedgers.Where(x=>x.ItemCode==b.ItemCode).Select(x=>x.StockPrice).LastOrDefault(),2)</b></span></td>
									<td><span><b> @Math.Round((decimal)Model.StockLedgers.Where(x=>x.ItemCode==b.ItemCode).Select(x=>x.Value).LastOrDefault(),2)</b></span></td>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								    @*<td>Description: @b.ItemDesc</td>*@
								</tr>
							 }
						 </table> <br />
					</div>

				@*<h6 style="text-align:center">RETRICTED</h6>*@
			   </div>
		  </div>
	 </div>
</div>
