@model  HicadStockSystem.Core.Utilities.ReportVM
@using Microsoft.AspNetCore.Http;
@{
	ViewBag.Title = "AnalysisPdf";
}
@{
	Layout = null;

}
<!DOCTYPE html>
<html>
<body>
	 <h1 style="text-align:center" class="text-center display-4">@Model.StkSystems.CompanyName</h1>
	 <h3 style="text-align:center">@Model.StkSystems.CompanyAddress</h3>

	 <br />
	@*<h3 style="text-align:center">REPORTS</h3>
		<h4 style="text-align:center">Stock Position</h4>*@

	 <h3>Receipt Analysis Report: Produce On @DateTime.Now</h3>
	 <table border="2" cellpadding="2" cellspacing="0" width="100%">
		   @foreach (var b in Model.Receipts2)
		   {
				<tr>
					<td><span><b>Supplier Code:</b></span> @b.SupplierCode</td>
					<td><span><b>Supplier Name:</b></span> @b.SupplierName</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
								
				<tr>	
				   <th>Date</th>
				   <th>Receipt Number</th>
				   <th>Item Description</th>
				   <th>Quantity</th>
				   <th>Price</th>
				   <th>Amount</th>
				   @*<th>Value</th>*@
				</tr>

				@foreach (var a in Model.Receipts.Where(x=>x.SupplierCode==b.SupplierCode))
				{
				<tr style="text-align:center">
				   <td> @a.Date</td>
				   <td> @a.DocNo </td>
				   <td> @a.ItemDescription</td>
				    <td>@Math.Round((decimal) a.Quantity,2)</td>
				    <td>
						@Math.Round((decimal)a.Price,2)
					</td>
					<td>@Math.Round((decimal)a.Amount,2)</td>
				  @* <td>
						@Math.Round((decimal)a.Value,2)
					</td>*@
				  </tr>
				    }							
				    <tr>	
					<td><span><b>Sum</b></span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><span><b>@Math.Round((decimal)Model.Receipts.Where(x=>x.SupplierCode==b.SupplierCode).ToList().Sum(x=>x.Amount),2)</b></span></td>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				    @*<td>Description: @b.ItemDesc</td>*@
				</tr>
		}

	 </table>

	@*<h6 style="text-align:center">RETRICTED</h6>*@
</body>
</html>
